<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue 列表渲染</title>
    <script src="vue.js"></script>
</head>

<body>
    <!--实例中不能用body 和 html来渲染-->
    <div id="test">
        <ul>
            <!--第二个参数为当前项的索引-->
            <li v-for="(item,index) in items"  :key="item">
                {{ parentMessage }} - {{ index }} - {{ item.text }}
            </li>
        </ul>
        <ol id="repeat-object" class="demo">
            <!--通过一个对象的属性来迭代。 第二个参数为键名 第三个参数为索引-->
            <li v-for="(value, key,index) in object" >{{ index }} -- {{key}} -- {{value}} </li>
        </ol>
        <h3>
          <span v-for="n in 10">{{n}}</span>
        </h3>
        <my-component v-for="(item, index) in items" v-bind:item="item.text" v-bind:index="index"></my-component>
        <div id="todo-list-example">
          <input type="text" v-model="newTodoText" v-on:keyup.enter="addNewTodo" placeholder="Add a todo">
          <ul>
            <li is="todo-item" v-for="(todo,index) in todos" v-bind:title="todo" v-on:remove="todos.splice(index,1)"></li>
          </ul>
        </div>
        <a href="javascript:;" v-for="n in evenNumbers">{{n}}</a>
    </div>
    <script type="text/javascript">
        Vue.component('my-component', {
            template: '<a href=\'javascript:;\'>' + '</a>'
        })
        Vue.component('todo-item',{
          template:'\
          <li>\
          {{title}}\
          <button v-on:click="$emit(\'remove\')">X</button>\
          </li>\
          ',
          props:['title']
        })
        var vm = new Vue({
            el: '#test',
            data: {
                parentMessage: 'parent',
                items: [{
                    text: 'Foo'
                }, {
                    text: 'Djj'
                }, {
                    text: 'Ett'
                }],
                object: {
                    'FirstName': 'John',
                    'LastName': 'Doe',
                    'Age': '30'
                },
                newTodoText: '',
                todos: [
                    'Do the dishes',
                    'Take out the trash',
                    'Mow the lawn'
                ],
                nums:[0,1,2,3,4,5,6],
            },
            /*内部运算 在dom加载时已经计算好了 想当于最后vm设置*/
            computed:{
              evenNumbers:function(){
                return this.nums.filter(function(number){
                  return number % 2 ===  0
                })
              }
            },
            methods:{
              addNewTodo:function(){
                this.todos.push(this.newTodoText);
                this.newTodoText = '' ;
              }
            }
        })
        //数组过滤==>函数==>返回匹配的Foo
        vm.items = vm.items.filter(function(item){
          return item.text.match('Foo');
        })
    </script>
</body>

</html>
